<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" >Action</a>
            <a class="dropdown-item" >Another action</a>
            <a class="dropdown-item" >Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<div style="text-align:center">
  <h1>
   Bienvenido a {{ title }}!
  </h1>
  <hr />
  <button class="btn" [disabled]="property">property</button>
  <button class="btn" [disabled]="event" (click)="hacerAlgo()">event</button>
  <hr />
  <input type="text" placeholder="tu nombre" [(ngModel)]="nombre"/>
  <hr />
  Mi nombre es {{nombre}}
</div>
<ul class="list-group">
  <ng-container *ngFor="let lugar of lugares">
    <li *ngIf="lugar.active" >{{lugar.nombre}}</li>
  </ng-container>
</ul>
<hr/>
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <hr/>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
          <a ><li class="list-group-item" contar-clicks [ngClass]="{numero_par: (i+1) % 2 !== 0}" [ngStyle]="{color: (lugar.active)? 'black' : 'gray'}" [resaltar]="lugar.plan" valida="true" >
            {{lugar.nombre}} - 
            <span *ngSwitchCase="1" [ngStyle]="{color:'green'}">Muy cercano</span>
            <span *ngSwitchCase="2" [ngStyle]="{color:'red'}">Cercano</span>
            <span *ngSwitchCase="3" [ngStyle]="{color:'black'}">Lejano</span>
          </li></a>
        </ng-container>
      </ul>
    </div>
    <div class = "col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>